# Dependencies
/vendor/
 /node_modules/

# Laravel Build Files
/public/build/
 /public/hot/
!/public/storage/
 /public/mix-manifest.json
!/public/js/
!/public/css/

# Storage 
!/storage/
!/storage
!/storage/**
!/storage/*.key
!/storage/pail
!storage/app/public/
!storage/app/public/**


# Environment & Configuration
.env
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml

# Logs & Cache
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.log
*.sqlite
/bootstrap/cache/

# IDE & Editor Settings
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/

# macOS/System Files
.DS_Store
node_modules/.vite/deps/alpinejs.js
node_modules/.vite/deps/alpinejs.js
node_modules/.vite/deps/alpinejs.js.map
node_modules/.vite/deps/axios.js
node_modules/.vite/deps/axios.js.map
node_modules/.vite/deps/chunk-PZ5AY32C.js
node_modules/.vite/deps/chunk-PZ5AY32C.js.map
